<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://112.124.102.118:8080/source/ProjectM.ipa</string>
				</dict>
				
			</array>
			<key>metadata</key>
			<dict>
				<key>DisplayName</key>
				<string>Xcode 7.3.1 Default</string>
				<key>Identifier</key>
				<string>com.apple.dt.toolchain.XcodeDefault</string>
			</dict>
			<key>Name</key>
			<string>ProjectM</string>
			<key>SchemeName</key>
			<string>冰封战场</string>
		</dict>
	</array>
</dict>
</plist>
